body {
    /*background: url("../../000_img/fog.jpg") no-repeat top center fixed;*/
    background-image: url("../../000_img/fog.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

header {
    color: #094562;
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin: 1rem;
    /*border: 1px solid hotpink;*/
}

ul {
    /*display: inline-block;*/
    width: 50%;
    text-align: center;
    margin: 2rem auto;
    /*border: 1px solid hotpink;*/
}

li:hover {
    color:red;
}

li {
    display: inline-block;
    padding: 1rem;
}

article {
    height: 20rem;
    text-align: center;
    margin: 2rem;
    padding: 1rem;

}

#article1 {
    /*background-color: #094562;*/
    background-color: rgba(204, 255, 255, 0.7)
}

#article2 {
    /*background-color: #496812;*/
    background-color: rgba(194, 239, 194, 0.7);
}

#article3 {
    /*background-color: #584420;*/
    background-color: rgba(235, 198, 161, 0.7)
}

#article4 {
    /*background-color: #651456;*/
    background-color: rgba(235, 157, 235, 0.7)
}