div {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 15px;
    border: 20px groove;
    background-image: url("../../000_img/pup.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}