* {
    border: 2px solid red;
}

div {
    height: 100px;
    width: 100px;
    background-color: blue;
    color: #fff;
}

#one {
    background-color: green;

    top: 20px;
    left: 20px;
    position:relative;
}