html {
    font-szie: 4vw;
}

/** {*/
    /*border: 1px solid hotpink;*/
/*}*/

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 1em;
    height: 1em;
    fill: currentcolor;
}

.circle {
    font-size: 25rem;
    animation-name: rotater;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotater {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}