* {
    color: white;
}

a {
    background-color: deepskyblue;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    border-top: 1px solid lightblue;
}

a:hover {
    background-color: royalblue;
}

li {
    list-style: none;
}