* {
    margin: 0;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin-top: 10px;
}

body {
    width: 80%;
    margin: 0 auto;
}

ul {
    border: 1px solid black;
    width: 15%;
    float: left;
}

div {
    border: 1px solid black;
    width: 85%;
    float: right;
}