div {
    width: 800px;
    height: 800px;
    border: 10px groove orange;
    background-image: url("../../../000_img/01.png");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 300px 10px;
}