html, body, div {
    padding:0;
    box-sizing:border-box;
}

body {
    display: flex;
    flex-flow: row wrap;
    width:100%
}

div {
    width:100%;
    height: 150px;
}

.c1 {
    background-color: blue;
}

.c2 {
    background-color: green;
}

.c3 {
    background-color: yellow;
}