html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    border: 1px solid black;
}

div {
    background-color: orange;
    border: 3px solid red;
    width:200px;
    height: 200px;
    margin: 0 auto;
}

#d2 {
    position: relative;
    top: 20px;
    left: 40px;
}