* {
    border: 1px dashed blue;
}

div {
    height: 50px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50px;
    display: inline-block;
}

#one {
    background-color: red;
}

#two {
    background-color: black;
}

#three {
    background-color: yellow;
}

#four {
    background-color: green;
}