html, body, main, div, h1, h2, button, svg {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background-color: transparent;
}

body {
    height: 100vh;
}

main {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*border: 1px solid red;*/
}

svg {
    fill: rgba(84, 121, 128, 0.3);
    /*border: 1px solid red;*/
    height: 8rem;
    width: 8rem;
    animation-name: rotater;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes rotater {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 4.5rem;
    color: #86969C;
}

h2 {
    font-size: 2.3rem;
    font-weight: 100;
    color: #86969C;
}

button {
    font-size: 1.6rem;
    color: white;
    background-color: #4EBBE4;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    padding-right: 2.2rem;
    padding-left: 2.2rem;
    /*border: 1px solid hotpink;*/
    border-radius: 5px;
    margin-top: 2.4rem;
}