html, body, p {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: text-grow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes text-grow {
    0% { font-size: 1rem; }
    100% { font-size: 20rem; }
}